table img {
	width: 50%;
}

.header {
	background-color: #a8b6bf;
}

.footer {
	background-color: #a8b6bf;
	/* height: 150px; */
	/* position: absolute; */
	/* bottom: 0px; */
	/* width:  100%; */
}

#ulflex {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	justify-content: space-between;
	padding: 10px;
	list-style-type: none;
}

	.form{
			display: flex;
			flex-direction: column;
			margin: 0 auto;
			width: 35%;
		}

		h1 {
			text-align: center;
		}

	